Repository react-native-camera/react-native-camera, pull requests merged in 2018-12, with the labels that each got.

#1952 Adds typing to CameraStatus constant
  src/RNCamera.js
  src/index.js
Labels: Enhancement, JS

#1979 feat: add rncamera-example without face detection
  .eslintrc
  .prettierrc
  examples/basic/.gitignore
  examples/basic/App.js
  examples/basic/README.md
  examples/basic/__tests__/App.js
  examples/basic/android/app/BUCK
  examples/basic/android/app/build.gradle
  examples/basic/android/app/proguard-rules.pro
  examples/basic/android/app/src/main/AndroidManifest.xml
  examples/basic/android/app/src/main/java/com/rncameraexample/MainActivity.java
  examples/basic/android/app/src/main/java/com/rncameraexample/MainApplication.java
  examples/basic/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  examples/basic/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  examples/basic/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  examples/basic/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  examples/basic/android/app/src/main/res/values/strings.xml
  examples/basic/android/app/src/main/res/values/styles.xml
  examples/basic/android/build.gradle
  examples/basic/android/gradle.properties
  examples/basic/android/gradle/wrapper/gradle-wrapper.jar
  examples/basic/android/gradle/wrapper/gradle-wrapper.properties
  examples/basic/android/gradlew
  examples/basic/android/gradlew.bat
  examples/basic/android/keystores/BUCK
  examples/basic/android/keystores/debug.keystore.properties
  examples/basic/android/settings.gradle
  examples/basic/app.json
  examples/basic/index.js
  examples/basic/ios/RNCameraExample-tvOS/Info.plist
  examples/basic/ios/RNCameraExample-tvOSTests/Info.plist
  examples/basic/ios/RNCameraExample.xcodeproj/project.pbxproj
  examples/basic/ios/RNCameraExample.xcodeproj/xcshareddata/xcschemes/RNCameraExample-tvOS.xcscheme
  examples/basic/ios/RNCameraExample.xcodeproj/xcshareddata/xcschemes/RNCameraExample.xcscheme
  examples/basic/ios/RNCameraExample/AppDelegate.h
  examples/basic/ios/RNCameraExample/AppDelegate.m
  examples/basic/ios/RNCameraExample/Base.lproj/LaunchScreen.xib
  examples/basic/ios/RNCameraExample/Images.xcassets/AppIcon.appiconset/Contents.json
  examples/basic/ios/RNCameraExample/Images.xcassets/Contents.json
  examples/basic/ios/RNCameraExample/Info.plist
  examples/basic/ios/RNCameraExample/main.m
  examples/basic/ios/RNCameraExampleTests/Info.plist
  examples/basic/ios/RNCameraExampleTests/RNCameraExampleTests.m
  examples/basic/package.json
  examples/basic/rn-cli.config.js
  examples/basic/yarn.lock
  package.json
Labels: Enhancement, RNCamera

#1958 Fixing https://github.com/react-native-community/react-native-camera/…
  ios/RN/RNCameraUtils.m
  ios/RN/RNSensorOrientationChecker.m
Labels: Bug, Needs response from author, iOS

#1992 fix(android): use device orientation for images/videos instead of display orientation
  android/src/main/java/com/google/android/cameraview/Camera1.java
  android/src/main/java/com/google/android/cameraview/Camera2.java
  android/src/main/java/com/google/android/cameraview/CameraView.java
  android/src/main/java/com/google/android/cameraview/CameraViewImpl.java
  android/src/main/java/com/google/android/cameraview/DisplayOrientationDetector.java
Labels: Android, Review: feature

#2001 fix: exclude android build artifacts
  .npmignore
  circle.yml
Labels: Review: fix
