Repository react-native-camera/react-native-camera, pull requests merged in 2019-03, with the labels that each got.

#2014 Feature: Add method refreshAuthorizationStatus allowing to refresh authorization status of Camera
  docs/RNCamera.md
  src/RNCamera.js
  types/index.d.ts
Labels: Android, JS, Needs response from author, RNCamera, Review: feature

#2007 Feature: isRecordingInterrupted video promise property
  android/src/main/java/org/reactnative/camera/RNCameraView.java
  docs/RNCamera.md
  ios/RN/RNCamera.h
  ios/RN/RNCamera.m
Labels: Android, Review: feature, iOS

#1974 Android autoFocusPointOfInterest, Camera & Camera2
  android/src/main/java/com/google/android/cameraview/Camera1.java
  android/src/main/java/com/google/android/cameraview/Camera2.java
  android/src/main/java/com/google/android/cameraview/CameraView.java
  android/src/main/java/com/google/android/cameraview/CameraViewImpl.java
  android/src/main/java/org/reactnative/camera/CameraViewManager.java
  docs/RNCamera.md
  examples/basic/App.js
Labels: Android, Review: feature
