Repository react-native-camera/react-native-camera, pull requests merged in 2019-01, with the labels that each got.

#2024 fix(ios): workaround accidental breaking change
  ios/RN/RNCamera.m
Labels: Bug, Review: fix, iOS

#1995 fix(android): prevent shutting down camera when re-mounting children
  android/src/main/java/org/reactnative/camera/RNCameraView.java
  examples/basic/App.js
  src/RNCamera.js
Labels: Android, Bug, RNCamera, Review: fix

#2045 Fix the git tag format in the podspec
  react-native-camera.podspec
Labels: Needs response from author, iOS

#2050 fix(android): use the correct camera orientation to fix image detection
  android/src/main/java/com/google/android/cameraview/Camera1.java
  android/src/main/java/com/google/android/cameraview/Camera2.java
  android/src/main/java/com/google/android/cameraview/CameraView.java
  android/src/main/java/com/google/android/cameraview/CameraViewImpl.java
  android/src/main/java/org/reactnative/camera/RNCameraView.java
  android/src/main/java/org/reactnative/camera/RNCameraViewHelper.java
Labels: Android, Review: feature

#2055 feat(android): add videoBitrate option for recordAsync
  android/src/main/java/com/google/android/cameraview/Camera1.java
  android/src/main/java/com/google/android/cameraview/Camera2.java
  android/src/main/java/org/reactnative/camera/RNCameraView.java
  docs/RNCamera.md
  src/RNCamera.js
  types/index.d.ts
Labels: Android, Needs response from author, Review: feature

#2048 feat: allow camera scene when audio permissions are denied
  android/src/main/java/org/reactnative/camera/CameraModule.java
  docs/RNCamera.md
  examples/basic/App.js
  ios/RN/RNCamera.m
  ios/RN/RNCameraManager.m
  src/Camera.js
  src/RNCamera.js
  src/handlePermissions.js
  types/index.d.ts
Labels: Android, Review: feature, core, iOS
