Repository react-native-camera/react-native-camera, pull requests merged in 2019-05, with the labels that each got.

#2263 feat(android): write Exif tags to modified image file
  android/src/main/java/org/reactnative/camera/RNCameraViewHelper.java
  android/src/main/java/org/reactnative/camera/tasks/ResolveTakenPictureAsyncTask.java
  src/RNCamera.js
  types/index.d.ts
Labels: Android, Enhancement

#2282 Exclude node_modules in sub-directories recursive searches
  ios/RNCamera.xcodeproj/project.pbxproj
Labels: Enhancement, iOS

#2289 Feature/adding stale bot
  .github/stale.yml
Labels: Enhancement, For Discussion, ci
